/* General Styles */
#root {
  margin: 0 auto;
  text-align: center;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
  width: 80vh;
  background-color: #fffefe;
}

/* Selector Box */
.selector-box {
  background-color: white;
  border-radius: 8px;
  padding: 16px 0;
  width: 380px;
  height: 280px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 70px 0;
}

/* Option */
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  margin: 2px 0;
  cursor: pointer;
  color: #333;
  transition: background-color 0.5s, border 0.5s;
  position: relative;
  z-index: 1;
  user-select: none;
}

.option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: -1;
  transition: background-color 0.1s;
}

/* Checkbox */
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  background-color: white;
}

.checkbox:hover {
  border-color: rgb(133, 132, 132);
}

.checkbox .checkmark {
  display: none;
  color: white;
  font-size: 14px;
}

.checkbox.checked {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.checkbox.checked .checkmark {
  display: block;
}

/* Option Styles */
.option:hover .checkbox:not(.checked) {
  border-color: rgb(133, 132, 132);
}

.option:hover .checkbox:not(.checked) .checkmark {
  display: block;
  color: grey;
}

/* Pages Container */
.pages-container {
  max-height: 160px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pages-container::-webkit-scrollbar {
  display: none;
}

/* Done Button */
.done-button {
  background-color: #ffd700;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 95%;
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
  transition: background-color 0.3s;
}

.done-button:hover {
  background-color: #ffe65b;
}

/* Focused Option */
.focused::before {
  background-color: #e6f2ff;
}

.focused::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #007bff;
  border-bottom: 1px solid #007bff;
  pointer-events: none;
}

/* Horizontal Rule */
hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 8px 14px;
}
